.twoFactorAuthBtn {
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    color: rgba(143, 7, 231, 1);
    background-color: rgba(251, 244, 255, 1);
    font-weight: 500;
}
.twofactorButtonSection{
    display: flex;
    justify-content: end;
    gap:20px
}
.twofactorButtonSection button{
    border:none;
    padding:10px 20px;
    border-radius:20px;
    font-weight: 600;
}
.twofactorButtonSection .saveBtn{
    background: linear-gradient(50deg, #8F07E7, #C115B5);
    color:white;
}
.twofactorButtonSection .cancleBtn{
   border:1px solid rgba(212, 209, 209, 0.534)
}
.twofactorButtonSection .cancleBtn:hover{
   background-color: white;
}
.twofactorButtonSection .saveBtn:hover{
    background: linear-gradient(50deg, #8d07e7d5, #c115b6c7);
    color:white;
}
@media (max-width: 600px) {
    .twoFactorContainer h6 {
        font-size: 11px;
    }

    .twoFactorContainer .twoFactorAuthBtn {
        font-size: 10px;
          padding: 8px 20px;
        font-weight: 500;
        /* padding: none; */

    }
}