.chat_gen_container {
    margin-left: 250px;
    margin-top: 70px;
}

.chat_gen_container .row {
    display: flex;
}

.chat_gen_container .leftChatScreen {
    width: 28%;
    position: relative;
    /* background-color: blue; */
    left: 0px;
    padding: 0px;
}

.chat_gen_container .leftChatScreen .innerLeftChat {
    position: fixed;
    width: 23%;
    /* left: 0px; */
}

.chat_gen_container .RightChatScreen {
    width: calc(100% - 28%);
}

@media (max-width: 1642px) {
    .chat_gen_container .leftChatScreen {
        width: 26%;
    }

    .chat_gen_container .leftChatScreen .innerLeftChat {
        width: 20%;
    }
}

@media (max-width: 1205px) {
    .chat_gen_container {
        margin-left: 70px;
    }

    .chat_gen_container .leftChatScreen {
        width: 40%;
    }

    .chat_gen_container .leftChatScreen .innerLeftChat {
        width: 36%;
    }

    .chat_gen_container .RightChatScreen {
        width: calc(100% - 40%);
    }
}

@media (max-width: 767px) {
    .chat_gen_container {
        margin-left: 0px;
    }

    .chat_gen_container .leftChatScreen .innerLeftChat {
        width: 39%;
    }
}

@media (max-width: 767px) {
    .chat_gen_container .leftChatScreen {
        min-width: 100%;
        padding: 10px;
        /* background-color: red; */
    }

    .chat_gen_container .leftChatScreen .innerLeftChat {
        /* width: 10%; */
        min-width: 94%;
        position: unset;
        background-color: white;
    }

    .chat_gen_container .RightChatScreen {
        width: 100%;
        background-color: white;
        /* position: fixed; */
        z-index: 999999999999999999;
        top: 0px;
        bottom: 0px;
        height: 100vh;
    }

    .SectionOff {
        display: none;
    }

    .SectionOn {
        display: block;
    }

    .chat_gen_container {
        /* min-height: 10vh; */
        /* position: fixed;
        z-index: 999999999999999999;
        top: 0px;
        bottom: 50px;
        width:100%; */
    }

    .chatAreaContainer {
        min-height: 100vh;
        background-color: red;
        /* padding-bottom: 200px; */
    }

    .chatAreaContainer .topSection {
        position: fixed;
        top: 0px;
        width: 100%;
    }

    .chatAreaContainer .footerSection {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }

    .chatAreaContainer .bodySection {
        height: 800px;
        padding-bottom: 200px;
    }

    .chatAreaContainer .mediaPreviewContainer {
        /* background-color: blue; */
        /* margin-bottom: 30px; */
        position: fixed;
        bottom: 60px;
        width: 100%;
        margin: 0px;
    }

}