body {
  font-family: 'Inter', sans-serif;
}

.inner_form_con {
  min-height: 100vh;
}

  .auth-background {
    background: none;
    background: #fff;
    background: linear-gradient(180deg, #8F07E7 0%, #C207E7 100%);

    /* fallback color if needed */
  }

.form_container {
  box-shadow: 0 0 20px rgba(154, 114, 194, 0.15);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  background: #fff;
}

form .input {
  border: none;
  /* box-shadow: 0 0 20px rgba(154, 114, 194, 0.15); */
  border-radius: 10px;
  height: 60px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid red;
  background: transparent;
}


form .input_box {
  margin: 0px 10px;
}
 form label{
    margin-left: 10px;
  }

form .input-icon {
  margin-top: -20px;
  font-size: 20px;
  padding-left: 10px;
  /* color: #8000FF */
}

.input:focus {
  border: 2px solid #8000FF;
  /* purple line on focus */
}

.input::placeholder {
  color: #999;
  /* or whatever color you want */
  opacity: 1;
}

form .submit_button {
  background: rgba(143, 7, 231, 1);
  height: 60px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 20px rgba(128, 0, 255, 0.15);
  transition: 0.4ms ease-in-out;
  font-weight: bolder;
  margin:0px
}

/* .submit_button:hover {
  background: linear-gradient(to right, #a14bff, rgba(233, 77, 238, 1));
  box-shadow: 0 0 30px rgba(162, 75, 255, 0.171);
} */

.api_btn {
  height: 50px;
  box-shadow: 0 0 20px rgba(128, 0, 255, 0.15);
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: white;
}

.dark_apple_api_btn {
  color: white;
  background-color: rgba(0, 0, 0, 0.87);
}

.auth-footer {
  background-color: #ad73e70e;
  border-radius: 20px;
  border: 1px solid #420a7a10;
}

.auth-footer a {
  color: #7223c2;
}

form .code_container {
  display: flex;
  text-align: center;

}

form .code_container .code {
  padding: 10px;
  outline: none;
  margin: 0px 3px
}

.auth_container .auth_footer {
  /* position: fixed;
  bottom:0px; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 10px 10px; */
}

.auth_container .auth_footer ul {
  padding: 0px;
}

.auth_container .auth_footer ul li {
  display: inline-block;
  margin: 0px 20px;
}

.auth_container .container_heading_text {
  /* color: #8000FF; */
  font-size: 20px;
  font-family: 'Inter';
  text-align: left;
  margin: 20px 0px;
}

#privacyAgree {
  width: 20px;
  height: 20px;
}

.custom-phone-input {
  width: 100% !important;
  padding-left: 60px !important;
  height: 55px !important;
  border-radius: 6px;
  border: 1px solid #ced4da;
  font-size: 14px;
}

.custom-phone-container {
  position: relative;
  margin-bottom: 1rem;
}

.custom-phone-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  z-index: 2;
}
.resend_code_container{
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
  margin-top: 20px;
}
.resend_code_container .resend_code{
  color: rgba(143, 7, 231, 1);
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}
.resend_code_container .code_timmer{
  color: rgba(143, 7, 231, 1);

}



/* Mobile view: Remove background image */
@media (max-width: 767px) {
  .auth_container .container_heading_text {
    font-size: 15px;
    font-family: 'Inter';
     margin: 0px;
     padding: 0px;
  }

  .auth-background {
    background: none;
    background: #fff;
    /* fallback color if needed */
  }

  form .input-icon {
    font-size: 20px;
    margin: 0px
  }

  form .input {
    height: 50px;
    margin: 0px
  }

  form .input_box {
    margin: 0px 00px;
  }
  form .field_margin_container_f_name{
    margin-right:10px;
  }
   form .field_margin_container_l_name{
    /* margin-left:px; */
  }
  form label{
    margin: 0px;
    padding-top: 10px;
    font-size: 12px;
    font-weight: 200;
  }

  .auth_container .auth_footer {
    display: block;
    text-align: center;
    /* padding-bottom: 200px; */
    width: 100%;
    overflow: visible;
    /* height: 50vh; */
  }

  .auth_container .auth_footer ul li {
    display: block;
    margin: 10px 0px;
  }

  .form_container {
    box-shadow: none;
  }

  .privacy_text {
    font-size: 13px;
  }

  input.privacy_checker {
    width: 20px;
    height: 20px;
    margin-bottom: -70px;
    top: -4px;

  }
}